.form-container {
    width: 100%;
}


#mail {
    margin-top: 50px;
}

#phoneNumber {
    margin-top: 50px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.footer-img-container {
    display: flex;
    justify-content: center;
    margin: 67px 0 45px 0;
}



