.layout {
    width: 100%;
    height: 100%;
}

.main-title {
    text-align: center;
    margin: 60px 0 100px 0;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
}

.entryList {
    width: 1178px;
    margin: 100px auto 150px auto; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.each-laptop {
    background: #EAFAFF;
    padding: 14px;
    width: 563px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #AED1EA;
}


.each-laptop .laptop-image {
    width: 266px;
    height: 178px;
    object-fit: cover;
    border-radius: 10px;
}


.each-laptop div {
    margin-left: 30px;
}

.each-laptop h4 {
    font-size: 18px;
}

.each-laptop h5 {
    margin: 18px 0 35px 0;
    font-size: 18px;
}

.each-laptop a {
    color: #4386A9;
}


.error {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

/* media querys */
@media (max-width: 1178px) {
    .entryList {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .each-laptop {
        margin: 0 auto;
    }
    
}


@media (max-width: 563px) {
    .each-laptop {
        width: 358px;
    }

    .each-laptop img {
        width: 164px;
        height: 109px;
    }

}

@media (max-width: 600px) {
.main-title {
        font-size: 28px;
        margin: 42px 0 -70px 0;
    }
}

